<h2>New Exam Registration</h2>

<form action="{% url 'StudyMarApp:saveExam' user.username %}" method="post">
{% csrf_token %}
	<label for="course_name">Course name: </label>
	<input type="text" name="course_name"> <br> <br>

	<label for="exam_date">Exam date: </label>
	<input type="date" name="exam_date"> <br> <br>

	<label for="pages">Number of pages: </label>
	<input type="number" name="pages"> <br> <br>

	<label for="time_estimate">Estimated time to study 1 page (minutes): </label>	
	<input type="number" name="time_estimate"> <br> <br>

	<input type="submit" value="Register Exam">


</form>